.draggable {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding:5px;
  touch-action: none;
  user-select: none;
}
body{
  background-color: #f6f8fa !important;
  font-family: roboto,sans-serif;
  font-weight: 400;
}
.customized-navbar{
  background-color: #00c292 !important;
  color:white !important;
}