.draggable {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding:5px;
  touch-action: none;
  user-select: none;
}
body{
  background-color: #f6f8fa !important;
  font-family: roboto,sans-serif;
  font-weight: 400;
}
.customized-navbar{
  background-color: #00c292 !important;
  color:white !important;
}
.svgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.flexible-line {
  position: absolute;
  border-top: 10px solid black;
  width: 100px; /* Initial width */
  height: 2px; /* Initial height */
  transform-origin: 0 0; /* Set origin to top-left corner */
  margin-left:50px;
}
